<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Me</title>
</head>
<body>
    <h1 id="fullName" th:text="${fullName}">the name will appear here</h1>
    <q id="favoriteQuote" th:text="${favoriteQuote}">your favorite quote will appear here</q>
    <p id="descriptionAboutSelf" th:text="${descriptionAboutSelf}">your description will appear here</p>
</body>
</html>