<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<main>
        <div class="card-coffee" th:fragment="coffeeCardFragment(coffee)">
            <img class="coffee-image"
                 th:if="${coffee.coffeePicture != null}"
                 th:src="@{'/' + ${coffee.coffeePicture}}"
                 alt="Coffee Picture" />

            <img class="coffee-image"
                 th:if="${coffee.coffeePicture == null}"
                 th:src="@{'/images/default-coffee.webp'}"
                 alt="Default Coffee" />

            <h3 th:text="${coffee.name}">Coffee Name</h3>
            <p><strong th:text="'$' + ${coffee.price}">Price</strong></p>
        </div>
    </div>
</main>
</body>
</html>

