<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>


<div class="login-container" th:classappend="${error} ? 'has-error' : ''">
    <div class="login-card">
        <form method="post" action="/login" th:object="${coffeeUser}">
            <h2>Login</h2>

            <div th:if="${error}">
                <p class="error-text" th:text="${error}"></p>
            </div>

            <div>
                <label>Username:</label>
                <input type="text" name="username" th:field="*{username}" autocomplete="off"
                       th:classappend="${#fields.hasErrors('username')} ? 'error' : ''">
                <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>

            <div>
                <label>Password:</label>
                <input type="password" name="password" th:field="*{password}" autocomplete="off"
                       th:classappend="${#fields.hasErrors('password')} ? 'error' : ''">
                <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

            <div class="forgot-password">
                <a href="#">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>

