/* Main layout */
main {
    padding: 2rem 1rem;
}


h1 {
    color: #b4c974;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 4.2rem; /* slightly larger */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
    justify-items: center;
}


.card-coffee {
    background: #2a2e26;
    border-radius: 14px;
    padding: 1.5rem;
    color: #e3e3d8;
    text-align: center;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s ease;
}


.card-coffee:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

/* Coffee image */
.coffee-image {
    width: 100%;
    height: 160px; /* taller image */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1.2rem;
}

/* Coffee name and price */
.card-coffee h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #d5e892;
}

.card-coffee p {
    font-size: 1rem;
    color: #cccfc3;
}


.card-coffee strong {
    color: #e3e3d8;
    font-weight: bold;
}

.card-grid::-webkit-scrollbar {
    display: none;

}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .card-coffee {
        padding: 1rem;
        max-width: 100%;
    }
}

