<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Form</title>
</head>
<body>
<h2>Student Form</h2>
<form th:action="@{/submit}" method="post">
    <label>Name:</label>
    <input type="text" name="name" required> <br>

    <label>Password:</label>
    <input type="password" name="password" required> <br>

    <label>Email:</label>
    <input type="email" name="email" required> <br>

    <label>Age:</label>
    <input type="number" name="age" min="1" max="100"> <br>

    <label>Gender:</label>
    <input type="radio" name="gender" value="Male"> Male
    <input type="radio" name="gender" value="Female"> Female <br>

    <label>Interests:</label>
    <input type="checkbox" name="interests" value="Sports"> Sports
    <input type="checkbox" name="interests" value="Music"> Music
    <input type="checkbox" name="interests" value="Reading"> Reading <br>

    <label>Country:</label>
    <select name="country">
        <option value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="UK">UK</option>
    </select> <br>

    <label>Message:</label>
    <textarea name="message" rows="4" cols="50"></textarea> <br>

    <label>Date of Birth:</label>
    <input type="date" name="dob"> <br>

    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
</body>
</html>
