<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Coffee</title>
</head>
<body>
<h1>Edit Coffee</h1>
<form th:action="@{/update}" method="post">
    <input type="hidden" name="id" th:value="${coffee.id}" /> <br>
    <input type="text" name="name" th:value="${coffee.name}" placeholder="Name" required /> <br>
    <input type="text" name="type" th:value="${coffee.type}" placeholder="Type" required /> <br>
    <input type="text" name="size" th:value="${coffee.size}" placeholder="Size" required /> <br>
    <input type="number" step="0.01" name="price" th:value="${coffee.price}" placeholder="Price" required /> <br>
    <input type="text" name="roastLevel" th:value="${coffee.roastLevel}" placeholder="Roast Level" required /> <br>
    <input type="text" name="origin" th:value="${coffee.origin}" placeholder="Origin" required />  <br>
    <input type="checkbox" name="isDecaf" th:checked="${coffee.decaf}" value="true" /> Decaf  <br>
    <input type="number" name="stock" th:value="${coffee.stock}" placeholder="Stock" required />  <br>
    <input type="text" name="flavorNotes" th:value="${coffee.flavorNotes}" placeholder="Flavor Notes" required />  <br>
    <input type="text" name="brewMethod" th:value="${coffee.brewMethod}" placeholder="Brew Method" required />  <br>
    <button type="submit">Update Coffee</button>
</form>

<a href="/">Back to List</a>
</body>
</html>